.Icon {
  fill-rule: evenodd;
}

.Icon--brand {
  border-radius: 50%;
}

.Icon--add {
  margin-bottom: 2px;
  vertical-align: middle;
}

.Icon--org {
  margin-left: 5px;
  vertical-align: middle;
}

.Icon--arrowUp,
.Icon--arrowDown {
  margin-left: 4px;
}

.Icon--arrowUp {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid;
}

.Icon--arrowDown {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
}

.Icon--doubleArrow {
  display: inline-block;
  margin-left: 2px;

  .Icon--arrowUp,
  .Icon--arrowDown {
    display: block;
  }

  .Icon--arrowUp {
    margin-bottom: 1px;
  }
}
