.Select {
  position: relative;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.Select-control {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;

  .Select.is-open & {
    border-radius: 3px 3px 0 0;
  }
}

.Select-menu {
  margin-top: -1px;
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 480px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0 0 3px 3px;
  background-color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1;
}

.Select-icon {
  margin-left: auto;
}

.Select-title {
  color: #96a3b3;
}
