.Menu {

}

.Menu-content {
  padding: 8px 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
  line-height: normal;
  text-align: left;
}

.MenuItem {
  padding: 8px 16px;
  color: #404040;
  cursor: auto;
  white-space: nowrap;

  &.is-disabled,
  &.is-disabled > a {
    cursor: not-allowed;
    pointer-events: none;
    color: #eee;
  }
}
