.Card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
}

.Card-header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  margin-bottom: 8px;
  color: #354052;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  border-bottom: 1px solid #f0f2f7;
}

.Card-block {
  padding: 16px;
}
