body {
  margin: 0;
}

.app {
  padding: 24px 16px;
}

.name {
  margin: auto auto 40px;
  max-width: 600px;
  color: #666;
  font-size: 2.5em;
  font-weight: 500;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
}
