.Popover {
  position: absolute;
  z-index: 3;
  left: 0;
  top: calc(100%);

  .Menu {
    max-height: 400px;
    overflow-y: auto;
  }
}

.Popover-arrow,
.Popover-arrow:after {
  position: absolute;
  z-index: 4;
  top: calc(100% + 7px);
  left: calc(50% - 10px);
}

.Popover-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid;
  border-bottom-color: #ccc;
}

.Popover-arrow:after {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid;
  border-bottom-color: #fff;
  content: '';
  margin-top: -5px;
}
