.Button {
  display: inline-block;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
  color: #fff;
  text-decoration: none;

  &.Button-plain {
    background-color: transparent;
    color: #404040;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .6;
  }

  &:focus {
    outline: 0;
  }
}
